.hljs {
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
    line-height: 1.5;
    font-family: 'Fira Code', monospace;
}

.hljs-tag {
    color: #1976d2;
}

.hljs-attr {
    color: #a626a4;
}

.hljs-attribute {
    color: #a626a4;
}

.hljs-string {
    color: #a33600;
}

.hljs-comment {
    color: #9e9e9e;
    font-style: italic;
}

.hljs-keyword {
    color: #a626a4;
    font-weight: bold;
}

.hljs-class {
    color: #e5c07b;
}

.hljs-id {
    color: #61afef;
}

.hljs-number {
    color: #f44336;
}

.hljs-operator {
    color: #f44336;
}

.hljs-punctuation {
    color: #333333;
}

.hljs-built_in {
    color: #1976d2;
}

.hljs-function {
    color: #4caf50;
}

.hljs-title {
    color: #4caf50;
}

.hljs-variable {
    color: #009688;
}

.hljs-meta {
    color: #9e9e9e;
}

.hljs-link {
    color: #4caf50;
    text-decoration: underline;
}

.hljs-doctag {
    color: #a626a4;
    font-weight: bold;
}

.hljs-name {
    color: #4caf50;
}

.hljs-params {
    color: #333333;
}

.hljs-literal {
    color: #f44336;
}

.hljs-regexp {
    color: #009688;
}

.hljs-symbol {
    color: #4caf50;
}

.hljs-bullet {
    color: #333333;
}

.hljs-section {
    color: #e5c07b;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-addition {
    color: #138a13;
    background-color: #f0fff4;
}

.hljs-deletion {
    color: #a9151b;
    background-color: #ffebed;
}
